/* For all webpages it is the same */

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navigation bar  -- Start */
header {
    display: flex; /* This makes the header content align horizontally */
    align-items: center; /* This vertically centers the header content */
    justify-content: space-between; /* This spaces out the header elements */
}

header h1, header nav {
    margin: 0; /* Removes default margin from h1 and nav */
}

nav ul {
    list-style-type: none; /* Removes the bullet points from the list */
    padding: 0; /* Removes the default padding */
    margin: 0; /* Removes the default margin */
    display: flex; /* Aligns the list items horizontally */
}

nav li {
    margin-right: 20px; /* Adds some space between the navigation links */
}

nav li:last-child {
    margin-right: 0; /* Removes the margin from the last item */
}

nav a {
    font-weight: 15px;
    text-decoration: none; /* Removes the underline from links */
    color: #333; /* Sets the text color for the links */
}
/* Navigation bar  -- End */

#about-us p{
    line-height: 22px;
}



/* Sabzi Polo */

img #sabzi-img{
    padding: 10px;
    margin: 15px;
}


